PRAGMA foreign_keys = ON;
DELETE FROM arr_instances;
DELETE FROM arr_configs;
DELETE FROM download_clients;
DELETE FROM stall_rules;
DELETE FROM queue_cleaner_configs;
DELETE FROM notification_configs;
DELETE FROM seeker_instance_configs;
DELETE FROM seeker_configs;

INSERT OR REPLACE INTO arr_configs (id, type, failed_import_max_strikes)
VALUES ('0B38A68F-3D7B-4D98-AE96-115DA62D9AF2', 'sonarr', 3);
INSERT OR REPLACE INTO arr_configs (id, type, failed_import_max_strikes)
VALUES ('6096303A-399C-42B8-BE8F-60A02CEC5A51', 'radarr', 3);

INSERT OR REPLACE INTO queue_cleaner_configs (
  id, cron_expression, downloading_metadata_max_strikes, enabled,
  failed_import_delete_private, failed_import_ignore_private,
  failed_import_max_strikes, failed_import_pattern_mode,
  failed_import_patterns, failed_import_skip_if_not_found_in_client,
  ignored_downloads, use_advanced_scheduling, process_no_content_id
) VALUES (
  '098AE890-21DD-4A23-9BA8-ED5CE1AB4817', '0 0/5 * ? * * *',
  3, 1, 0, 0, 3, 'Exclude',
  '["No files found are eligible for import"]', 1, '[]', 0, 0
);

INSERT OR REPLACE INTO arr_instances (
  id, enabled, arr_config_id, name, url, api_key, version
) VALUES (
  '03E5F334-0F61-4DAE-9F3A-E0A315397906', 1,
  '0B38A68F-3D7B-4D98-AE96-115DA62D9AF2',
  'Sonarr', 'http://sonarr:8989', '{{ api_keys.sonarr }}', 4.0
);
INSERT OR REPLACE INTO arr_instances (
  id, enabled, arr_config_id, name, url, api_key, version
) VALUES (
  '13E5F334-0F61-4DAE-9F3A-E0A315397907', 1,
  '6096303A-399C-42B8-BE8F-60A02CEC5A51',
  'Radarr', 'http://radarr:7878', '{{ api_keys.radarr }}', 5.0
);

INSERT OR REPLACE INTO download_clients (
  id, enabled, name, type_name, type, host, username, password, url_base
) VALUES (
  '5B5D4ED9-DEF2-4D60-BDBC-0ACA8C120614', 1,
  'My qBittorrent', 'qbittorrent', 'torrent',
  'http://gluetun:6969', 'admin', '{{ admin_password }}', ''
);

INSERT OR REPLACE INTO stall_rules (
  id, reset_strikes_on_progress, minimum_progress,
  queue_cleaner_config_id, name, enabled, max_strikes,
  privacy_type, min_completion_percentage,
  max_completion_percentage, delete_private_torrents_from_client
) VALUES (
  'C39A65FD-F9EF-4913-AA20-E558ADF183D0', 1, '',
  '098AE890-21DD-4A23-9BA8-ED5CE1AB4817', 'Auto-Remove Stalled',
  1, 3, 'Both', 0, 100, 0
);

INSERT OR REPLACE INTO seeker_configs (
  id, post_release_grace_hours, proactive_search_enabled,
  search_enabled, search_interval, selection_strategy, use_round_robin
) VALUES (
  '517165FD-B188-4801-BB47-A4CADCEAE29F', 6, 0, 1, 10,
  'balancedweighted', 1
);

INSERT OR REPLACE INTO seeker_instance_configs (
  id, arr_instance_id, enabled, skip_tags, last_processed_at,
  current_cycle_id, total_eligible_items, active_download_limit,
  min_cycle_time_days
) VALUES (
  '03E5F334-0F61-4DAE-9F3A-E0A315397906',
  '03E5F334-0F61-4DAE-9F3A-E0A315397906',
  0, '[]', NULL, '', 0, 0, 7
);
INSERT OR REPLACE INTO seeker_instance_configs (
  id, arr_instance_id, enabled, skip_tags, last_processed_at,
  current_cycle_id, total_eligible_items, active_download_limit,
  min_cycle_time_days
) VALUES (
  '13E5F334-0F61-4DAE-9F3A-E0A315397907',
  '13E5F334-0F61-4DAE-9F3A-E0A315397907',
  0, '[]', NULL, '', 0, 0, 7
);
