{% from "service_base.yml.j2" import standard_service with context %}
{{ standard_service(
    name="qbittorrent",
    internal_port=service_config.port,
    env=['WEBUI_PORT=' ~ service_config.port],
    volumes=[
        config_root ~ "/qbittorrent:/config",
        data_root ~ ":/data"
    ],
    healthcheck_url="http://127.0.0.1:6969/"
) }}
