  seed-servarr:
    image: "python:3.11-slim-bookworm"
    container_name: seed-servarr
    environment:
      - ADMIN_PASSWORD={{ admin_password }}
    volumes:
      - "{{ config_root }}:/config"
      - "{{ homelab_project_root }}/seed-servarr/seed-servarr.py:/seed.py:ro"
    command: ["python", "/seed.py"]
    networks:
      - "{{ docker_network }}"
