{% from "service_base.yml.j2" import standard_service with context %}
{{ standard_service(
    name="anki",
    internal_port=8080,
    env=[
        "SYNC_USER1=" ~ anki_secret.sync_user1,
        "SYNC_USER2=" ~ anki_secret.sync_user2
    ],
    volumes=[
        config_root ~ "/anki:/anki_data"
    ],
    healthcheck_url="http://127.0.0.1:8080/"
) }}
