{% from "service_base.yml.j2" import standard_service with context %}
{{ standard_service(
    name="audiobookshelf",
    internal_port=80,
    volumes=[
        data_root ~ "/media/audiobooks:/data/media/audiobooks",
        config_root ~ "/audiobookshelf/config:/config",
        config_root ~ "/audiobookshelf/metadata:/metadata"
    ],
    env=['ROUTER_BASE_PATH=/audiobookshelf']
) }}
