name: tautulli

services:
  tautulli:
    image: "{{ item.image }}"
    container_name: tautulli
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ="{{ timezone }}"
    volumes:
      - "{{ config_root }}/tautulli:/config"
{% set use_vpn = item.use_vpn | default(false) %}
{% set host_port = item.port %}
{% set internal_port = 8181 %}
{% include "_service_network.yml.j2" %}
    restart: unless-stopped

{% include "_network_footer.yml.j2" %}
