  recyclarr:
    image: "{{ service_config.image }}"
    container_name: recyclarr
    user: "{{ puid }}:{{ pgid }}"
    volumes:
      - "{{ config_root }}/recyclarr:/config"
      - "{{ homelab_project_root }}/recyclarr/recyclarr.yml:/config/recyclarr.yml:ro"
    environment:
      - TZ="{{ timezone }}"
    networks:
      - "{{ docker_network }}"
    # Recyclarr will exit after sync, we want it to run periodically or once
    # For now, we'll let it run once on deploy.
    restart: "no"
