# recyclarr.yml.j2
sonarr:
  - name: sonarr
    base_url: http://sonarr:8989
    api_key: "{{ api_keys.sonarr }}"
    quality_definition:
      type: series
    quality_profiles:
      - name: HD - 1080p
        upgrade:
          allowed: true
          until: WEB-DL 1080p
        qualities:
          - name: WEB-DL 1080p
          - name: Bluray-1080p
          - name: HDTV-1080p

radarr:
  - name: radarr
    base_url: http://radarr:7878
    api_key: "{{ api_keys.radarr }}"
    quality_definition:
      type: movie
    quality_profiles:
      - name: HD - 1080p
        upgrade:
          allowed: true
          until: Bluray-1080p
        qualities:
          - name: Bluray-1080p
          - name: WEB-DL 1080p
          - name: HDTV-1080p
