name: {{ group_name }}

services:
{% for service in services if service.group == group_name %}
  # --- {{ service.name }} ---
{% set service_config = service %}
{% include "services/" ~ service.name ~ "/definition.yml.j2" %}

{% endfor %}

networks:
  "{{ docker_network }}":
    external: true
