[BitTorrent]
ExcludedFileNamesEnabled=true
Session\AdditionalTrackers={{ service_manager_qbittorrent_trackers | join('\\n') }}
Session\AddTrackersEnabled=true
Session\ExcludedFileNames={{ qbittorrent.excluded_file_names | join(', ') }}

[LegalNotice]
Accepted=true

[Preferences]
Downloads\SavePath={{ qbittorrent.save_path }}
Downloads\TempPath={{ qbittorrent.incomplete_path }}
Downloads\TempPathEnabled=true
WebUI\Address=*
WebUI\LocalHostAuthentication=false
WebUI\Password_PBKDF2="{{ service_manager_qbittorrent_hash }}"
WebUI\Port={{ item.port }}
WebUI\WhitelistedSubnets=127.0.0.1/32, 192.168.0.0/16
Connection\Interface=tun0
Connection\InterfaceName=tun0
