name: uptime-kuma

services:
  uptime-kuma:
    image: "{{ item.image }}"
    container_name: uptime-kuma
    environment:
      - TZ="{{ timezone }}"
    volumes:
      - "{{ config_root }}/uptime-kuma:/app/data"
{% set use_vpn = item.use_vpn | default(false) %}
{% set host_port = item.port %}
{% set internal_port = 3001 %}
{% include "_service_network.yml.j2" %}
    restart: unless-stopped

{% include "_network_footer.yml.j2" %}
