{% from "service_base.yml.j2" import standard_service with context %}
{{ standard_service(
    name="sonarr",
    internal_port=8989,
    volumes=[
        config_root ~ "/sonarr:/config",
        data_root ~ ":/data",
        "/var/run/docker.sock:/var/run/docker.sock",
        config_root ~ "/scripts/trigger-kometa.sh:/config/scripts/trigger-kometa.sh"
    ]
) }}
