  bazarr:
    image: "{{ service_config.image }}"
    container_name: bazarr
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ="{{ timezone }}"
    volumes:
      - "{{ config_root }}/bazarr:/config"
      - "{{ data_root }}/media:/data/media"
{% set use_vpn = service_config.use_vpn | default(false) %}
{% set host_port = service_config.port %}
{% set internal_port = 6767 %}
{% include "_service_network.yml.j2" %}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:6767/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
