{% from "service_base.yml.j2" import standard_service with context %}
{{ standard_service(
    name="bazarr",
    internal_port=6767,
    volumes=[
        config_root ~ "/bazarr:/config",
        data_root ~ "/media:/data/media"
    ]
) }}
